
.pathPageContainer{
    /* height: 100vh; */
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    /* border: 2px solid white; */
    /* align-items: center; */
    /* gap: 2rem; */
    background-color: rgb(38	38	38);
    /* background: url(../../assets/images/pathPageBgPhoto.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; */
}

.pathPageContainer > *{
    /* border: 2px solid red; */
}



.navbar{
        background-color: rgb(38	38	38);
}