.introCards{
    flex: 1;
    display: flex;
    height: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}


.cardContainer{
    font-family: pro;
    min-width: 400px;
    height: 100%;
    background-color: rgb(42	6	126);
    /* opacity: 0.6; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1rem;
    position: relative;
    flex: 1;
}

.cardTitle{
    font-family: var(--ff-pageHeader);
    font-size: var(--font-size-xl);
    font-weight: 800;
}

.cardBody{
    font-size: var(--font-size-md);
    font-family: var(--ff-content);
    max-width: 58%;
    line-height: 1.5;
}

.cardImg{
    height: 250px;
    width: 250px;
    /* background-color: grey; */
    /* opacity: 0.4; */
    position: absolute;
    right: 0;
    transform: translateX(20%) translateY(-10%);
    top: 25%;
}