.cardContainer {
  position: relative;
}

.cardContainerScroll {
  height: 500px;
  width: max(350px, 62vw);
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding: 0 1rem;
  position: relative;
  margin-top: 8rem;
}

.cardContainerScroll::-webkit-scrollbar {
  display: none;
}

.cardContainerScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  cursor: pointer;
  height: 88%;
  min-width: 320px;
  border-radius: 40px;
  background-color: lightblue; /* Fallback color */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* cursor: pointer; */
  /* pointer-events: none; */
}

.arrowLeft {
  transform: translateY(-50%) translateX(-100%);
}

.arrowRight {
  right: 0;
  transform: translateY(-50%) translateX(100%) rotate(180deg);
}

@media (max-width: 1000px) {
  .arrowLeft {
  transform: scale(0.8) translateY(-50%) translateX(-45%);
  }
  .arrowRight {
  right: 0;
  transform: scale(0.8) translateY(-50%) translateX(45%) rotate(180deg);
}

.card{
  transform: scale(0.8);
}
}