.pageHeader{
    font-family: var(--ff-pageHeader);
    color: var(--clr-side-kick);
    font-size: var(--font-size-xl);
    max-width: 8ch;
}

.heading{
    font-family: var(--ff-heading);
}

.content{
    font-family: var(--ff-content);
}