.REPLContainer{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    
    /* height: 100vh; */
}

.REPLContainer > *{

}

.codeEditor{
    flex: auto;
    width: 600px;
    min-width: 300px;
} 

.problemDesc{
    flex: auto;
}
/* 
.problemDesc{
    width: max(600px, 35%);
}


  */

/* In frontend/src/pages/REPL/REPL.module.css */

.hintContainer, .resourcesContainer {
    margin-top: 2rem;
    /* padding: 10px; */
    background-color: #2a2d3b;
    border-radius: 5px;
}

.hintText {
    color: #a9b3d1;
    font-family: var(--ff-pageContent);
    white-space: pre-wrap; /* Allows the hint to wrap nicely */
    margin-top: 10px;
}

.hintError {
    color: #ff8080;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.resourcesList{
    margin-top: 1rem;
    font-family: var(--ff-pageContent);
    color: white;
}

.resourcesList h4{
    font-size: calc(var(--font-size-base) + 0.5rem);
    /* font-family: var(--ff-content); */
    font-weight: 300;

}
.resourcesList ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.resourcesList p{
    margin-top: 0.4rem;
}

.resourcesList ul a{
    font-size: calc(var(--font-size-sm) + 0.1rem);
    color: rgb(9	14	29);
}

.resourcesList ul a:hover{
    color: var(--clr-side-kick);
}

/* Add this to REPL.module.css */
.resourceItem {
  margin-top: 1.5rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

.resourceItem h5 {
  margin-bottom: 0.5rem;
  color: #a9c5ff;
}

.resourceItem ul {
  list-style-type: disc;
  padding-left: 20px;
}

.videoItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}