.skillTreeContainer{
    
    height: 900px;
    /* border: 2px solid white; */
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 0;
    left: 20px;
    margin-left: 3rem;
    /* flex: 0; */ 
    width: 500px;

}
.skillTree{
      /* border: 2px solid white; */
    width: 100%;
    height: 800px;
    background: url(../../assets/images/skillTreeThin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.skill{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* border: 1px solid green; */
    position: absolute;
}
.skill-1{
    background: url(../../assets/images/skillPhoto3.png);
    background-size: contain;
    background-position: center;
    left: 6%;
    border: 0;
    bottom: 42%;
}

.skill-2{
    background: url(../../assets/images/skillPhoto2.png);
    background-size: contain;
    background-position: center;
    right: 11%;
    bottom: 46%;
}

.skill-3{
    background: url(../../assets/images/skillPhoto1.png);
    background-size: contain;
    background-position: center;
    left: 18%;
    top: 25%;
}

.skill-4{
    background: url(../../assets/images/skillPhoto4.png);
    background-size: contain;
    background-position: center;
    right: 16%;
    top: 28%;
}

.skill-5{
    right: 40%;
    top: 15%;
}


.skillLabel{
    font-family: var(--ff-heading);
    color: white;
    left: 0;
    position: absolute;
    top: 100%;
    width: max-content;
    font-size: 24px;
    /* border: 1px solid white; */
    transform: translateX(-25%);
}

.skillMeter{
    --meter-radius: 80px;
    width: var(--meter-radius);
    height: var(--meter-radius);
    border-radius: 50%;
    position: absolute;
    /* border: 2px solid white; */
    left: 50%;
    transform: translateX(-55%);
    bottom: 20%;
    box-shadow: 0 0 15px 5px #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/meterPhoto.png);
    background-position: center;
    background-size: cover;
}

.meterValue{
    color: white;
    font-size: 2rem;
    font-family: var(--ff-heading);
    
}